<div class="home-section">
  <!-- <h2><b>Trending Bikes</b></h2> -->
   <img src="\Images\Tranding2.png" alt="tranding" style="height: 50px; "/>
   <br>
   <br>
  <div class="bike-grid">
    <div class="bike-card">
      <img src="/Images/image1.jpg" alt="Bike 1" />
      <h3>ROYAL ENFIELD</h3>
    </div>
    <div class="bike-card">
      <img src="/Images/image2.avif" alt="Bike 2" />
      <h3>BMW BIKE</h3>
    </div>
    <div class="bike-card">
      <img src="/Images/image3.avif" alt="Bike 3" />
      <h3>SCOOTY</h3>
    </div>
    <div class="bike-card">
      <img src="/Images/image4.avif" alt="Bike 4"/>
      <h3>SUPER BIKE</h3>
    </div>
  </div>
</div>
