<div class="container-fluid p-5 bg-light min-vh-100">
  <div class="table-responsive shadow-lg p-4 bg-white rounded">
    <h2 class="mb-4 text-center text-primary">User List</h2>
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-primary">
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>PhoneNo</th>
          <th>Registration Date</th>
          <th>IsConfirm</th>
          <th>Approve</th>
          <th>Reject</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users">
          <td data-label="UserName">{{user.username}}</td>
          <td data-label="Email">{{user.email}}</td>
          <td data-label="PhoneNo">{{user.phone_no}}</td>
          <td data-label="Registration Date">{{user.registerdate}}</td>
          <td data-label="IsConfirm">{{user.isconfirm}}</td>
          <td data-label="Approve">
            <button type="button" class="btn btn-outline-success" (click)="ApprovedUser(user)">
              Approve
            </button>
          </td>
          <td data-label="Reject">
            <button type="button" class="btn btn-outline-danger" (click)="RejectUser(user)">
              Reject
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
