<nav class="navbar" style="color: white;">
  <div>
  <img src="\Images\logoBike.png"height="60px" width="60px" /><b>ＳｕｐｅｒＢｉｋｅ</b>
</div>

  <!-- <div class="navbar-actions">
    <div class="overlay-content">
    <div class="search-box">
      <input type="text" placeholder="Search Super Bikes..."  style="width: 450px; padding: 14px; border-radius: 8px; " />
      <button routerLink="/Search">🔎Search</button>
    </div>
  </div> -->

  <div class="search-container">
  <input type="text" placeholder="Search" class="search-input">
  <button class="search-button">
    <i class="fa fa-search"></i>
  </button>
</div>

<div>
    <a routerLink="/SingUp" class="singup" >🤝SingUp</a>
    <a routerLink="/Login" class="btn" style="margin-left: 12px;">🔒Login</a>
  </div>
  
</nav>
 <!-- <app-home></app-home> -->




