<nav class="navbar" style="color: white;">
  <div>
  <img src="\Images\logoBike.png"height="60px" width="60px" /><b>ＳｕｐｅｒＢｉｋｅ</b>
</div>

  <div class="navbar-actions">
    <!-- <select class="location-select">
      <option disabled selected>Select Location</option>
      <option>Delhi</option>
      <option>Mumbai</option>
      <option>Chennai</option>
      <option>Bangalore</option>
    </select> -->
    <a routerLink="/SingUp" class="singup">🤝SingUp</a>
    <a routerLink="/Login" class="btn">🔒Login</a>
  </div>
  
</nav>
 <!-- <app-home></app-home> -->




