
  <body>
  <div id="divId">
    <h2>Login</h2>

    <form #loginForm="ngForm" (ngSubmit)="LoginSubmit()">
      <div class="email">
        <label for="EmailId"><b>EmailId :</b></label>
        <input
          id="EmailId"
          type="email"
          name="email"
          [(ngModel)]="credentials.email"
          required
          email
        />
        <div
          *ngIf="loginForm.submitted && !loginForm.controls['email']?.valid"
          class="error"
        >
          Valid email is required.
        </div>
      </div>

      <div class="pwd" style="margin-top: 20px;">
        <label for="pwd"><b>Password :</b></label>
        <input
          type="password"
          id="pwd"
          name="password"
          [(ngModel)]="credentials.password"
          required
          minlength="6"
        />
        <div
          *ngIf="loginForm.submitted && !loginForm.controls['password']?.valid"
          class="error"
        >
          Password is required (min 6 characters).
        </div>
      </div>

      <button type="submit" class="sub">Login</button>
    </form>
  </div>
</body>
