<body>
<div id="divId">
   <h2>Login</h2>
<form [formGroup]="LoginForm" (ngSubmit)="LoginSubmit()">
    <div class="email">
       <label><b>EmailId :</b></label>
       <input id="EmailId" type="email" name="EmailId" formControlName="EmailID"/>
    </div>
    <br>
    <br>
    <div class="pwd">
    <label><b>PassWord :</b> </label>
    <input type="password" id="pwd" name="password" formControlName="PassWord" />
    </div>
    <br>
    <br>
   <!-- <button *ngIf="loginSuccess"  [routerLink]="['/Admin']" class="sub">Login</button> -->
    <button type="submit"  class="sub"> login </button>
</form> 
</div>
</body>
