<!-- 



  <body>
    <div>
<button class="loginHome" routerLink="/HomePage">🏠 Home</button>
    </div>

  <div id="divId">
    
    <h2>Login</h2>

  
    <form #loginForm="ngForm" (ngSubmit)="LoginSubmit()">
      <div class="email">
        <label for="EmailId"><b>EmailId :</b></label>
        <input
          id="EmailId"
          type="email"
          name="email"
          [(ngModel)]="credentials.email"
          required
          email
        />
        <div
          *ngIf="loginForm.submitted && !loginForm.controls['email']?.valid"
          class="error"
        >
          Valid email is required.
        </div>
      </div>

      <div class="pwd" style="margin-top: 20px;">
        <label for="pwd"><b>Password :</b></label>
        <input
          type="password"
          id="pwd"
          name="password"
          [(ngModel)]="credentials.password"
          required
          minlength="6"
        />
        <div
          *ngIf="loginForm.submitted && !loginForm.controls['password']?.valid"
          class="error"
        >
          Password is required (min 6 characters).
        </div>
      </div>

      <button type="submit" class="sub">Login</button>
    </form>
  </div>
</body> -->



 <body>
  <div id="divId">
    <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="email">
  <input formControlName="email" placeholder="Email" />
  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
    Valid email is required.
  </div>
</div>

  <input formControlName="password" type="password" placeholder="Password" class="pwd" style="margin-top: 20px;"/>
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
    Password is required.
  </div>

  <button class="sub" type="submit">Login</button>

  <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
</form></div>

</body>
