<!-- <div id="divId">
   <h2>Login</h2>
 <form > 
    <div class="email">
       <label>EmailId :</label>
       <input id="EmailId" type="email" name="EmailId" [(ngModel)]="data.email"/>
    </div>
  <br/>
    <div class="pwd">
    <label>Email Send PassWord :</label>
    <input type="password" id="pwd" name="password"  [(ngModel)]="data.password" />
    </div>
    <br/>
    <div class="pwd">
    <label>Enter New PassWord :</label>
    <input type="password" id="pwd" name="password"  [(ngModel)]="data.newpass"/>
    </div>

    
    <button type="submit"  class="sub" (click)="OnSubmitPassWord()"> login </button>
</form>

</div> -->