
<div class="dashboard-wrapper">
  <!-- Sidebar -->
  <div class="sidebar">
    <h2>Admin Dashboard</h2>
    <a routerLink="/PendingRequest" class="sidebar-btn request">
      🔔 {{ objusercountstore.userId }} Request
    </a>
    <a routerLink="/bikeOperation" class="sidebar-btn">🚴 Bike Operation</a>
    <a routerLink="/User" class="sidebar-btn">👤 User Details</a>
    <a routerLink="/userSearchHistory" class="sidebar-btn">📜 User Search History</a>
    <a routerLink="/report" class="sidebar-btn">📊 Report</a>
   <button (click)="logout()" class="sidebar-btn logout">🚪 Logout</button>
  </div>

  <!-- Content Area -->
  <div class="main-content">
     <h1 class="welcome-msg">Welcome to Admin Dashboard</h1>
  </div>
</div>
