body{
  margin: 0;
    padding: 0;
     background-image: url('https://images.unsplash.com/photo-1617719445910-effa370eea18?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmlrZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D') ; 
     background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
    height: 90vh;
  display: flex;
   align-items: center; 
  justify-content: center; 


}

.signup-container {
  /* max-width: 680px; */
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container form div {
  margin-bottom: 15px;
}

.signup-container label {
  display: block;
  margin-bottom: 5px;
}

.signup-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.back-to-login {
  text-align: center;
  margin-top: 15px;
}