<div class="bike-table-container">
  <h2>All Bikes</h2>

  <table class="bike-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Bike Name</th>
        <th>Model</th>
        <th>CC</th>
        <th>Brand</th>
        <th>Price (₹)</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bike of bikes">
        <td>{{ bike.bikeId }}</td>
        <td>{{ bike.bikeName }}</td>
        <td>{{ bike.model }}</td>
        <td>{{ bike.cc }}</td>
        <td>{{ bike.brand }}</td>
        <td>{{ bike.price }}</td>
        <td>{{ bike.year }}</td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
        
      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <p>No bikes found.</p>
  </ng-template>
</div>
