<h3>Search History</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>👇</th>
      <th>Search ID</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of searchHistory">
       <td>
        <input type="checkbox" [(ngModel)]="item.selected" />
      </td> 
      <td>{{ item.searchId }}</td>
      <td>{{ item.searchDesc }}</td>
      <td>{{ item.searchDate  }}</td>
      <button (click)="deleteSelected()">Delete</button> 
    </tr>
  </tbody>
</table>
