<table class="table table-bordered">
  <thead>
    <tr>
      <th>Bike Id</th>
      <th>Bike Name</th>
      <th>Model</th>
      <th>CC</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bike of Bikes">
      <td>{{ bike.bikeId}}</td>
      <td>{{ bike.bikeName }}</td>
      <td>{{ bike.model }}</td>
      <td>{{ bike.cc }}</td>
      <td>{{ bike.brand }}</td>
      <td>{{ bike.price }}</td>
      <td>{{ bike.year }}</td>
    </tr>
  </tbody>
</table>

