.container {
  width: 1000px;
}

.table th, .table td {
  vertical-align: middle;
  font-size: 0.95rem;
}

input.form-control-sm {
  font-size: 0.9rem;
  padding: 0.4rem;
}

.btn-sm {
  padding: 4px 12px;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .table {
    font-size: 0.85rem;
  }

  .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}
