<div class="video-background">
  <video autoplay muted loop playsinline>
    <source src="Video\bikevidio.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="overlay-content">
    <h1 style="color: yellow; text-shadow: 3px 3px 10px black;">SuperBike Search Engine</h1>
    <div class="search-box">
      <input type="text" placeholder="Search Super Bikes..."  style="width: 450px; padding: 14px; border-radius: 8px; " />
      <button routerLink="/Search" (click)="SearchButton()">🔎Search</button>
    </div>
  </div>
</div>
<br>
<app-trending-bike></app-trending-bike>
<br>
<app-brand></app-brand>
<app-footer></app-footer>
